  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">

    <div class="container">
      <div class="row gy-0">
        <div class="col-lg-6  footer-info">
          <a href="index.html"  style="max-height: 60px;
          margin-left: 2px;">
            <img style="width:20rem" src="../../assets/img/tnhb_logo.png" alt="">
          </a>
        </div>

        <div class="col-lg-6" style="display: flex;justify-content: space-evenly;">
            <pre style="color: black;font-weight:bolder; overflow: hidden; margin-bottom: 0;font-size:medium;">
                Head Office CMDA Complex, E&C Market Road,
                Koyambedu, Chennai-600107
                Phone.24794201,02,03,04,05,06(044)
              </pre>


        </div>



      </div>
    </div>

    <div class="container mt-0">
      <div class="copyright">
        &copy; Copyright <strong><span>Bocxy</span></strong>. All Rights Reserved
      </div>
      <div class="credits">

        Designed by <a href="https://bocxy.com">Bocxy</a>
      </div>
    </div>

  </footer><!-- End Footer -->
  <!-- End Footer -->