<!-- ======= Hero Section ======= -->
<section id="hero" class="hero">
  <div class="container position-relative">
    <div class="row gy-5" data-aos="fade-in" style="margin-top: 0;">
      <h2 class="text-center">Land Digitization<span></span></h2>
      <div class="col-lg-6 order-1 order-lg-2">
        <img src="" class="img-fluid" alt="" data-aos="zoom-out" data-aos-delay="100">
      </div>
    </div>
  </div>
  <div class="containertab">
    <div class="icon-boxes position-relative" hidden>
      <div class="container position-relative">
        <div class="row gy-0" style="display: flex;justify-content: center;">

          <div class="col-xl-3 col-md-6" data-aos="fade-up" data-aos-delay="200">
            <div class="icon-box">
              <!-- <div  style="font-weight: 700;
              font-size: 40px; color:white">60,000</div> -->
              <div style="font-weight: 700;
               font-size: 40px; color:white">{{ totalcountsingle ?? 0}}</div>
              <h4 class="title" style="font-weight: 400;
              font-size: 24px;"><a class="stretched-link">Total Lands</a></h4>
            </div>
          </div><!--End Icon Box -->

          <div class="col-xl-3 col-md-6" data-aos="fade-up" data-aos-delay="300">
            <div class="icon-box">
              <!-- <div style="font-weight: 700;
              font-size: 40px; color:white">20,000</div> -->
              <div style="font-weight: 700;
              font-size: 40px; color:white">{{ userList?.length ?? 0}}</div>
              <h4 class="title" style="font-weight: 400;
              font-size: 24px;"><a class="stretched-link">Digitized Lands</a></h4>
            </div>
          </div><!--End Icon Box -->

          <div class="col-xl-3 col-md-6" data-aos="fade-up" data-aos-delay="500">
            <div class="icon-box">
              <!-- <div style="font-weight: 700;
              font-size: 40px; color:white">40,000</div> -->
              <!-- {{(totalcountsingle ?? 0) - -->
              <div style="font-weight: 700;
              font-size: 40px; color:white">{{ totalcountsingle - (userList?.length ?? 0)}}</div>
              <h4 class="title" style="font-weight: 400;
              font-size: 24px;"><a class="stretched-link">Yet to be Digitized</a></h4>
            </div>
          </div><!--End Icon Box -->
        </div>
      </div>
    </div>
  </div>
</section>

<!-- End Hero Section -->

<!-- Main Section Starts -->

<!-- <div style="width: 100%;display: flex;justify-content: center;"> -->
<br>
<div style="width: 100%;display: flex;overflow-x: scroll;justify-content: center;">


  <div class="container-fluid">

    <div class="containertab d-flex justify-content-between pt-2" style="align-items: baseline;">
      <div class="section-b">
        <input class="input" type="text" name="Search" placeholder="Search..." [(ngModel)]="searchFilter"
          (input)="applyFilter()">
      </div>
      <mat-form-field appearance="outline" id="example1" style="margin-left: 10px;">
        <mat-label>Division</mat-label>
        <mat-select [formControl]="divisionSelect" (selectionChange)="applyTable1Filter()" multiple
          [panelClass]="'temporary'">
          <mat-option *ngFor="let divisionSelect of divisionSelectList" [value]="divisionSelect">
            {{ divisionSelect }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline" id="example2" style="margin-left: 10px;">
        <mat-label>District</mat-label>
        <mat-select [formControl]="districtSelect" (selectionChange)="applyTable2Filter()" multiple
          [panelClass]="'temporary'">
          <mat-option *ngFor="let districtSelect of districtSelectList" [value]="districtSelect">
            {{ districtSelect }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <button mat-flat-button color="primary" type="submit" fileName="report" (click)="convert()"
        style="margin-left: auto;margin-right: 5px;width: 110px !important;background: #D71B22;border: solid 3px white;"
        [disabled]="dataSource && dataSource.data.length==0"><mat-icon>save_alt</mat-icon>
        <span style="color: white;">PDF</span>
      </button>
      <button mat-flat-button color="primary" type="submit" fileName="report" (click)="exportExcel()"
        style="width: 110px;background: #1D6B40;border: solid 3px white;"
        [disabled]="dataSource && dataSource.data.length==0"><mat-icon>save_alt</mat-icon><span
          style="color: white;">EXCEL</span></button>

    </div>
    <div class="">
      <div id="tableToPrint" style="margin-bottom: 2rem;border: solid 2px #80808063;">
        <table mat-table [dataSource]="dataSource">

          <ng-container matColumnDef="n_UNIQUE_ID">
            <!-- <th class="first" mat-header-cell *matHeaderCellDef>
              <span>UNI.ID</span>
            </th>
            <td mat-cell *matCellDef="let request">{{request?.n_UNIQUE_ID }}</td> -->
            <th class="first" mat-header-cell *matHeaderCellDef>
              <span>S.No</span>
            </th>
            <td mat-cell *matCellDef="let request;let i = index;">{{i+1 }}</td>
            <td mat-footer-cell *matFooterCellDef> {{''}} </td>

          </ng-container>
          <ng-container matColumnDef="v_NAME_OF_SCHEME">
            <th class="first" mat-header-cell *matHeaderCellDef>
              <span>Scheme Name</span>
            </th>
            <!-- <td mat-cell *matCellDef="let request">{{request?.v_NAME_OF_SCHEME | titlecase}}</td> -->
            <td mat-cell *matCellDef="let request">{{request?.v_NAME_OF_SCHEME }}</td>

            <td mat-footer-cell *matFooterCellDef> {{''}} </td>
          </ng-container>
          <!-- <ng-container matColumnDef="v_NAME_OF_CIRCLE">
          <th class="first" mat-header-cell *matHeaderCellDef>
            <span>Circle</span>
          </th>
          <td mat-cell *matCellDef="let request">{{request?.v_NAME_OF_CIRCLE | titlecase}}</td>
        </ng-container> -->
          <ng-container matColumnDef="v_NAME_OF_DIVISION">
            <th class="first" mat-header-cell *matHeaderCellDef>
              <span>Division</span>
            </th>
            <!-- <td mat-cell *matCellDef="let request">{{request?.v_NAME_OF_DIVISION | titlecase}}</td> -->
            <td mat-cell *matCellDef="let request">{{request?.v_NAME_OF_DIVISION }}</td>

            <td mat-footer-cell *matFooterCellDef> {{''}} </td>
          </ng-container>
          <ng-container matColumnDef="v_NAME_OF_DISTRICT">
            <th class="first" mat-header-cell *matHeaderCellDef>
              <span>District</span>
            </th>
            <!-- <td mat-cell *matCellDef="let request">{{request?.v_NAME_OF_DISTRICT | titlecase}}</td> -->
            <td mat-cell *matCellDef="let request">{{request?.v_NAME_OF_DISTRICT }}</td>

            <td mat-footer-cell *matFooterCellDef> {{''}} </td>
          </ng-container>
          <ng-container matColumnDef="v_NAME_OF_VILLAGE">
            <th class="first" mat-header-cell *matHeaderCellDef>
              <span>Village</span>
            </th>
            <!-- <td mat-cell *matCellDef="let request">{{request?.v_NAME_OF_VILLAGE | titlecase}}</td> -->
            <td mat-cell *matCellDef="let request">{{request?.v_NAME_OF_VILLAGE }}</td>


            <td mat-footer-cell *matFooterCellDef style="font-weight: bold;" class="total-bg">
              Total </td>
          </ng-container>
          <ng-container matColumnDef="4(1) (in acres)">
            <th class="first" mat-header-cell *matHeaderCellDef>
              <span>4(1)</span><br>
              <span> (in acres) </span>
            </th>
            <td mat-cell *matCellDef="let request">{{request?.fourone_total_extent | number:'1.2-2' }}</td>
            <td mat-footer-cell *matFooterCellDef class="total-bg"> {{getTotal('fourone_total_extent')| number:'1.2-2'}}
            </td>

          </ng-container>
          <ng-container matColumnDef="6DD (in acres)">
            <th class="first" mat-header-cell *matHeaderCellDef>
              <span>6DD </span><br>
              <span> (in acres) </span>
            </th>
            <td mat-cell *matCellDef="let request">{{request?.sixdd_total_extent| number:'1.2-2' }}</td>
            <td mat-footer-cell *matFooterCellDef class="total-bg"> {{getTotal('sixdd_total_extent')| number:'1.2-2'}}
            </td>

          </ng-container>
          <!-- <ng-container matColumnDef="Award (in acres)">
          <th class="first" mat-header-cell *matHeaderCellDef>
            <span>Award (in acres)</span>
          </th>
          <td mat-cell *matCellDef="let request">{{''}}</td>
        </ng-container> -->



          <ng-container matColumnDef="Award (in acres)">
            <th class="first" mat-header-cell *matHeaderCellDef style="text-align: center;">
              <!-- <span>Total Extent of Land Acquired</span> -->
              <span> Award </span><br>
              <span> (in acres) </span>



            </th>
            <td mat-cell *matCellDef="let request">{{request?.v_TOTAL_EXTENT | number:'1.2-2'}}</td>
            <td mat-footer-cell *matFooterCellDef class="total-bg"> {{getTotal('v_TOTAL_EXTENT')| number:'1.2-2'}} </td>

          </ng-container>
          <ng-container matColumnDef="Award Amount">
            <th class="first" mat-header-cell *matHeaderCellDef>
              <!-- <span>Total Extent of Land Acquired</span> -->
              <span> Award Amount</span>


            </th>
            <td mat-cell *matCellDef="let request">{{request?.n_TOTAL_AWARD_AMOUNT | number:'1.2-2'}}</td>
            <td mat-footer-cell *matFooterCellDef class="total-bg"> {{getTotal('n_TOTAL_AWARD_AMOUNT')| number:'1.2-2'}}
            </td>

          </ng-container>
          <ng-container matColumnDef="DP Amount">
            <th class="first" mat-header-cell *matHeaderCellDef>
              <!-- <span>Total Extent of Land Acquired</span> -->
              <span> DP Amount</span>


            </th>
            <td mat-cell *matCellDef="let request">{{request?.award_direct_payment | number:'1.2-2'}}</td>
            <td mat-footer-cell *matFooterCellDef class="total-bg"> {{getTotal('award_direct_payment')| number:'1.2-2'}}
            </td>

          </ng-container>
          <ng-container matColumnDef="RD Amount">
            <th class="first" mat-header-cell *matHeaderCellDef>
              <!-- <span>Total Extent of Land Acquired</span> -->
              <span>RD Amount</span>


            </th>
            <td mat-cell *matCellDef="let request">{{request?.award_revenue_payment | number:'1.2-2'}}</td>
            <td mat-footer-cell *matFooterCellDef class="total-bg"> {{getTotal('award_revenue_payment')|
              number:'1.2-2'}} </td>

          </ng-container>
          <ng-container matColumnDef="CC Amount">
            <th class="first" mat-header-cell *matHeaderCellDef>
              <!-- <span>Total Extent of Land Acquired</span> -->
              <span>CC Amount</span>


            </th>
            <td mat-cell *matCellDef="let request">{{request?.award_court_deposit | number:'1.2-2'}}</td>
            <td mat-footer-cell *matFooterCellDef class="total-bg"> {{getTotal('award_court_deposit')| number:'1.2-2'}}
            </td>

          </ng-container>
          <ng-container matColumnDef="LHO (in acres)">
            <th class="first" mat-header-cell *matHeaderCellDef>
              <!-- <span>Total Extent of Land Acquired</span> -->
              <span> LHO </span><br>
              <span> (in acres) </span>


            </th>
            <!-- <td mat-cell *matCellDef="let request">{{request?.v_TOTAL_EXTENT | number:'1.2-2'}}</td> -->
            <td mat-cell *matCellDef="let request">{{request?.lhoExtent1 | number:'1.2-2'}}</td>

            <td mat-footer-cell *matFooterCellDef class="total-bg"> {{getTotal('lhoExtent1')| number:'1.2-2'}} </td>
            <!-- lhoExtent1 -->

          </ng-container>
          <ng-container matColumnDef="Utilized (in acres)">
            <th class="first" mat-header-cell *matHeaderCellDef>
              <!-- <span>Total Extent of Land Acquired</span> -->
              <span>Utilized </span><br>
              <span> (in acres) </span>


            </th>
            <td mat-cell *matCellDef="let request">{{request?.utilisedExtent | number:'1.2-2'}}</td>
            <td mat-footer-cell *matFooterCellDef class="total-bg"> {{getTotal('utilisedExtent')| number:'1.2-2'}} </td>
            <!-- utilisedExtent -->

          </ng-container>
          <ng-container matColumnDef="Non Utilized (in acres)">
            <th class="first" mat-header-cell *matHeaderCellDef>
              <!-- <span>Total Extent of Land Acquired</span> -->
              <span>Not Utilized </span><br>
              <span> (in acres) </span>


            </th>
            <td mat-cell *matCellDef="let request">{{request?.notUtilisedExtent | number:'1.2-2'}}</td>
            <td mat-footer-cell *matFooterCellDef class="total-bg"> {{getTotal('notUtilisedExtent')| number:'1.2-2'}}
            </td>
            <!-- notUtilisedExtent -->

          </ng-container>
          <ng-container matColumnDef="Future Dev (in acres)">
            <th class="first" mat-header-cell *matHeaderCellDef>
              <!-- <span>Total Extent of Land Acquired</span> -->
              <span>Future Dev </span><br>
              <span> (in acres) </span>


            </th>
            <td mat-cell *matCellDef="let request">{{request?.futureDevExtent | number:'1.2-2'}}</td>
            <td mat-footer-cell *matFooterCellDef class="total-bg"> {{getTotal('futureDevExtent')| number:'1.2-2'}}
            </td>
            <!-- futureDevExtent -->

          </ng-container>
          <ng-container matColumnDef="LNHO (in acres)">
            <th class="first" mat-header-cell *matHeaderCellDef>
              <!-- <span>Total Extent of Land Acquired</span> -->
              <span>LNHO </span><br>
              <span> (in acres) </span>


            </th>
            <td mat-cell *matCellDef="let request">{{request?.lnhoExtent1 | number:'1.2-2'}}</td>
            <td mat-footer-cell *matFooterCellDef class="total-bg"> {{getTotal('lnhoExtent1')| number:'1.2-2'}} </td>
            <!-- lnhoExtent1 -->
          </ng-container>

          <!-- <ng-container matColumnDef="v_PHO_TOTAL_EXTENT">
            <th class="first" mat-header-cell *matHeaderCellDef>
              <span>Possession Handed over</span>
            </th>
            <td mat-cell *matCellDef="let request">{{request?.v_PHO_TOTAL_EXTENT | number:'1.2-2'}}</td>
            <td mat-footer-cell *matFooterCellDef> {{getTotal('v_PHO_TOTAL_EXTENT')| number:'1.2-2'}} </td>

          </ng-container>
          <ng-container matColumnDef="v_PNHO_TOTAL_EXTENT">
            <th class="first" mat-header-cell *matHeaderCellDef>
              <span>Possession Not Handed over</span>
            </th>
            <td mat-cell *matCellDef="let request">{{request?.v_PNHO_TOTAL_EXTENT | number:'1.2-2'}}</td>
            <td mat-footer-cell *matFooterCellDef> {{getTotal('v_PNHO_TOTAL_EXTENT')| number:'1.2-2'}} </td>

          </ng-container>
          <ng-container matColumnDef="v_PHO_SCHEME_TOTAL_EXTENT">
            <th class="first" mat-header-cell *matHeaderCellDef>
              <span>Available for Scheme development</span>
            </th>
            <td mat-cell *matCellDef="let request">{{request?.v_PHO_SCHEME_TOTAL_EXTENT | number:'1.2-2'}}</td>
            <td mat-footer-cell *matFooterCellDef> {{getTotal('v_PHO_SCHEME_TOTAL_EXTENT')| number:'1.2-2'}} </td>

          </ng-container> -->
          <ng-container matColumnDef="actions">
            <th class="first" mat-header-cell *matHeaderCellDef>
              <span>Action</span>
            </th>
            <td mat-cell *matCellDef="let request">
              <div class="displayicon">
                <mat-icon style="font-size: 18px;cursor:pointer" matTooltip="Edit"
                  (click)="edit('edit',request.n_UNIQUE_ID)">edit</mat-icon>
                <mat-icon style="font-size: 18px;cursor:pointer;color:red" matTooltip="Delete"
                  (click)="delete(request.n_UNIQUE_ID)">delete</mat-icon>
                <mat-icon style="font-size: 18px;cursor:pointer;color:peru" matTooltip="View"
                  (click)="edit('view',request.n_UNIQUE_ID)">visibility</mat-icon>

              </div>
            </td>
            <td mat-footer-cell *matFooterCellDef> </td>

          </ng-container>
          <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
          <tr mat-row *matRowDef="let request; columns: columnsToDisplay"></tr>
          <tr mat-footer-row *matFooterRowDef="columnsToDisplay"></tr>
        </table>
      </div>
    </div>
  </div>

</div>




<!-- Main Section Ends -->