<!-- ======= Hero Section ======= -->
<section id="hero" class="hero">
  <div class="container position-relative">
    <div class="row gy-5" data-aos="fade-in" style="margin-top: 0;">
      <h2 class="text-center">Land Digitization<span></span></h2>
      <div class="col-lg-6 order-1 order-lg-2">
        <img src="" class="img-fluid" alt="" data-aos="zoom-out" data-aos-delay="100">
      </div>
    </div>
  </div>
  <div class="containertab">
    <div class="icon-boxes position-relative" hidden>
      <div class="container position-relative">
        <div class="row gy-0" style="display: flex;justify-content: center;">

          <div class="col-xl-3 col-md-6" data-aos="fade-up" data-aos-delay="200">
            <div class="icon-box">
              <!-- <div  style="font-weight: 700;
              font-size: 40px; color:white">60,000</div> -->
              <div style="font-weight: 700;
               font-size: 40px; color:white">{{ totalcountsingle ?? 0}}</div>
              <h4 class="title" style="font-weight: 400;
              font-size: 24px;"><a class="stretched-link">Total Lands</a></h4>
            </div>
          </div><!--End Icon Box -->

          <div class="col-xl-3 col-md-6" data-aos="fade-up" data-aos-delay="300">
            <div class="icon-box">
              <!-- <div style="font-weight: 700;
              font-size: 40px; color:white">20,000</div> -->
              <div style="font-weight: 700;
              font-size: 40px; color:white">{{ userList?.length ?? 0}}</div>
              <h4 class="title" style="font-weight: 400;
              font-size: 24px;"><a class="stretched-link">Digitized Lands</a></h4>
            </div>
          </div><!--End Icon Box -->

          <div class="col-xl-3 col-md-6" data-aos="fade-up" data-aos-delay="500">
            <div class="icon-box">
              <!-- <div style="font-weight: 700;
              font-size: 40px; color:white">40,000</div> -->
              <!-- {{(totalcountsingle ?? 0) - -->
              <div style="font-weight: 700;
              font-size: 40px; color:white">{{ totalcountsingle - (userList?.length ?? 0)}}</div>
              <h4 class="title" style="font-weight: 400;
              font-size: 24px;"><a class="stretched-link">Yet to be Digitized</a></h4>
            </div>
          </div><!--End Icon Box -->
        </div>
      </div>
    </div>
  </div>
</section>

<!-- End Hero Section -->

<!-- Main Section Starts -->

<!-- <div style="width: 100%;display: flex;justify-content: center;"> -->
<br>
<div style="width: 100%;display: flex;overflow-x: scroll;justify-content: center;">


  <div class="container-fluid">

    <div class="containertab d-flex justify-content-between pt-2" style="align-items: baseline;">
      <div class="section-b">
        <input class="input" type="text" name="Search" placeholder="Search..." [(ngModel)]="searchFilter"
          (input)="applyFilter()">
      </div>
      <mat-form-field appearance="outline" id="example1" style="margin-left: 10px;">
        <mat-label>Division</mat-label>
        <mat-select [formControl]="divisionSelect" (selectionChange)="applyTable1Filter()" multiple
          [panelClass]="'temporary'">
          <mat-option *ngFor="let divisionSelect of divisionSelectList" [value]="divisionSelect">
            {{ divisionSelect }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline" id="example2" style="margin-right: auto;margin-left: 10px;">
        <mat-label>District</mat-label>
        <mat-select [formControl]="districtSelect" (selectionChange)="applyTable2Filter()" multiple
          [panelClass]="'temporary'">
          <mat-option *ngFor="let districtSelect of districtSelectList" [value]="districtSelect">
            {{ districtSelect }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <button mat-flat-button color="primary" type="submit" fileName="report"
        (click)="printTable()">{{'Download'}}</button>
    </div>
    <div class="">
      <div id="tableToPrint" style="margin-bottom: 2rem;">
        <table mat-table [dataSource]="dataSource">

          <ng-container matColumnDef="n_UNIQUE_ID">
            <th class="first" mat-header-cell *matHeaderCellDef>
              <span>UNI.ID</span>
            </th>
            <td mat-cell *matCellDef="let request">{{request?.n_UNIQUE_ID }}</td>
            <td mat-footer-cell *matFooterCellDef> {{''}} </td>
          </ng-container>
          <ng-container matColumnDef="v_NAME_OF_SCHEME">
            <th class="first" mat-header-cell *matHeaderCellDef>
              <span>Scheme Name</span>
            </th>
            <td mat-cell *matCellDef="let request">{{request?.v_NAME_OF_SCHEME | titlecase}}</td>
            <td mat-footer-cell *matFooterCellDef> {{''}} </td>
          </ng-container>
          <!-- <ng-container matColumnDef="v_NAME_OF_CIRCLE">
          <th class="first" mat-header-cell *matHeaderCellDef>
            <span>Circle</span>
          </th>
          <td mat-cell *matCellDef="let request">{{request?.v_NAME_OF_CIRCLE | titlecase}}</td>
        </ng-container> -->
          <ng-container matColumnDef="v_NAME_OF_DIVISION">
            <th class="first" mat-header-cell *matHeaderCellDef>
              <span>Division</span>
            </th>
            <td mat-cell *matCellDef="let request">{{request?.v_NAME_OF_DIVISION | titlecase}}</td>
            <td mat-footer-cell *matFooterCellDef> {{''}} </td>
          </ng-container>
          <ng-container matColumnDef="v_NAME_OF_DISTRICT">
            <th class="first" mat-header-cell *matHeaderCellDef>
              <span>District</span>
            </th>
            <td mat-cell *matCellDef="let request">{{request?.v_NAME_OF_DISTRICT | titlecase}}</td>
            <td mat-footer-cell *matFooterCellDef> {{''}} </td>
          </ng-container>
          <ng-container matColumnDef="v_NAME_OF_VILLAGE">
            <th class="first" mat-header-cell *matHeaderCellDef>
              <span>Village</span>
            </th>
            <td mat-cell *matCellDef="let request">{{request?.v_NAME_OF_VILLAGE | titlecase}}</td>
            <td mat-footer-cell *matFooterCellDef> Total </td>
          </ng-container>
          <ng-container matColumnDef="4(1) (in acres)">
            <th class="first" mat-header-cell *matHeaderCellDef>
              <span>4(1) (in acres)</span>
            </th>
            <td mat-cell *matCellDef="let request">{{request?.fourone_total_extent | number:'1.2-2' }}</td>
            <td mat-footer-cell *matFooterCellDef> {{getTotal('fourone_total_extent')| number:'1.2-2'}} </td>

          </ng-container>
          <ng-container matColumnDef="6DD (in acres)">
            <th class="first" mat-header-cell *matHeaderCellDef>
              <span>6DD (in acres)</span>
            </th>
            <td mat-cell *matCellDef="let request">{{request?.sixdd_total_extent| number:'1.2-2' }}</td>
            <td mat-footer-cell *matFooterCellDef> {{getTotal('sixdd_total_extent')| number:'1.2-2'}} </td>

          </ng-container>
          <!-- <ng-container matColumnDef="Award (in acres)">
          <th class="first" mat-header-cell *matHeaderCellDef>
            <span>Award (in acres)</span>
          </th>
          <td mat-cell *matCellDef="let request">{{''}}</td>
        </ng-container> -->



          <ng-container matColumnDef="v_TOTAL_EXTENT">
            <th class="first" mat-header-cell *matHeaderCellDef>
              <!-- <span>Total Extent of Land Acquired</span> -->
              <span> Award (in acres)</span>


            </th>
            <td mat-cell *matCellDef="let request">{{request?.v_TOTAL_EXTENT | number:'1.2-2'}}</td>
            <td mat-footer-cell *matFooterCellDef> {{getTotal('v_TOTAL_EXTENT')| number:'1.2-2'}} </td>

          </ng-container>
          <ng-container matColumnDef="v_PHO_TOTAL_EXTENT">
            <th class="first" mat-header-cell *matHeaderCellDef>
              <span>Possession Handed over</span>
            </th>
            <td mat-cell *matCellDef="let request">{{request?.v_PHO_TOTAL_EXTENT | number:'1.2-2'}}</td>
            <td mat-footer-cell *matFooterCellDef> {{getTotal('v_PHO_TOTAL_EXTENT')| number:'1.2-2'}} </td>

          </ng-container>
          <ng-container matColumnDef="v_PNHO_TOTAL_EXTENT">
            <th class="first" mat-header-cell *matHeaderCellDef>
              <span>Possession Not Handed over</span>
            </th>
            <td mat-cell *matCellDef="let request">{{request?.v_PNHO_TOTAL_EXTENT | number:'1.2-2'}}</td>
            <td mat-footer-cell *matFooterCellDef> {{getTotal('v_PNHO_TOTAL_EXTENT')| number:'1.2-2'}} </td>

          </ng-container>
          <ng-container matColumnDef="v_PHO_SCHEME_TOTAL_EXTENT">
            <th class="first" mat-header-cell *matHeaderCellDef>
              <span>Available for Scheme development</span>
            </th>
            <td mat-cell *matCellDef="let request">{{request?.v_PHO_SCHEME_TOTAL_EXTENT | number:'1.2-2'}}</td>
            <td mat-footer-cell *matFooterCellDef> {{getTotal('v_PHO_SCHEME_TOTAL_EXTENT')| number:'1.2-2'}} </td>

          </ng-container>
          <ng-container matColumnDef="actions">
            <th class="first" mat-header-cell *matHeaderCellDef>
              <span>Action</span>
            </th>
            <td mat-cell *matCellDef="let request">
              <div class="displayicon">
                <mat-icon style="font-size: 18px;cursor:pointer" matTooltip="Edit"
                  (click)="edit('edit',request.n_UNIQUE_ID)">edit</mat-icon>
                <mat-icon style="font-size: 18px;cursor:pointer;color:red" matTooltip="Delete"
                  (click)="delete(request.n_UNIQUE_ID)">delete</mat-icon>
                <mat-icon style="font-size: 18px;cursor:pointer;color:peru" matTooltip="View"
                  (click)="edit('view',request.n_UNIQUE_ID)">visibility</mat-icon>

              </div>
            </td>
            <td mat-footer-cell *matFooterCellDef> {{'-'}} </td>

          </ng-container>
          <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
          <tr mat-row *matRowDef="let request; columns: columnsToDisplay"></tr>
          <tr mat-footer-row *matFooterRowDef="columnsToDisplay"></tr>
        </table>
      </div>
    </div>
  </div>

</div>




<!-- Main Section Ends -->