<section id="hero" class="hero">
  <br>
  <br>
  <section id="hero" class="hero">
    <div class="container position-relative">
      <div class="row gy-5" data-aos="fade-in">
        <h2 class="text-center">New Land Record<span></span></h2>

        <div class="col-lg-6 order-2 order-lg-1 d-flex flex-column justify-content-center text-center text-lg-start">

        </div>
        <div class="col-lg-6 order-1 order-lg-2">
          <img src="" class="img-fluid" alt="" data-aos="zoom-out" data-aos-delay="100">
        </div>
      </div>
    </div>

  </section>
</section>
<main id="main" class="main mx-auto">
  <div class="row">

    <style>
      ::ng-deep .mat-step-header .mat-step-icon {
        background-color: #3FB8DE !important;
      }
    </style>

    <div class="card">
      <div class="card-body">
        <mat-horizontal-stepper>
          <mat-step [stepControl]="personalInfoFormGroup">
            <form [formGroup]="personalInfoFormGroup">
              <ng-template matStepLabel>Enter Land Details</ng-template>
              <div class="row">
                <div class="row mb-3 col-6">
                  <label class="col-sm-5 col-form-label" style="font-weight: bold">Type of
                    Division:<span style="color: red;">*</span></label>

                  <div class="col-sm-10">
                    <select formControlName="citynrural" class="form-select" aria-label="type of division">
                      <option value="city">City</option>
                      <option value="rural">Rural</option>
                    </select>
                  </div>
                </div>


                <div class="row mb-3 col-6">
                  <label class="col-sm-5 col-form-label" style="font-weight: bold">Name of the Circle:<span
                      style="color: red;">*</span></label>

                  <div class="col-sm-10">
                    <select formControlName="circle" class="form-select" aria-label="name of the circle">
                      <option value="city">Chennai</option>
                      <option value="rural">Trichy</option>
                      <option value="rural">Madurai</option>
                    </select>
                  </div>
                </div>

                <div class="row mb-3 col-6">
                  <label class="col-sm-9 col-form-label" style="font-weight: bold">Name of the Division:<span
                      style="color: red;">*</span></label>
                  <div class="col-sm-10">
                    <select formControlName="division" class="form-select" aria-label="name of the division">
                      <option value="city">Anna Nagar</option>
                      <option value="rural">JJ Nagar</option>
                      <option value="rural">Besant Nagar</option>
                    </select>
                  </div>
                </div>

                <div class="row mb-3 col-6">
                  <label class="col-sm-9 col-form-label" style="font-weight: bold">Name of the Village:<span
                      style="color: red;">*</span></label>
                  <div class="col-sm-10">
                    <select formControlName="village" class="form-select" aria-label="name of the village">
                      <option value="city">Ramapuram</option>
                      <option value="rural">Porur</option>
                      <option value="rural">Valasaravakkam</option>
                    </select>
                  </div>
                </div>

                <div class="row mb-3 col-6">
                  <label class="col-sm-9 col-form-label" style="font-weight: bold">Name of the Land:<span
                      style="color: red;">*</span></label>
                  <div class="col-sm-10">
                    <input matInput type="text" formControlName="land_name" class="form-control" value="" />
                  </div>
                </div>


                <div class="row mb-3 col-6">
                  <label class="col-sm-9 col-form-label" style="font-weight: bold">Geo Tagging:<span
                      style="color: red;">*</span></label>
                  <div class="col-sm-10">
                    <input matInput type="text" formControlName="geo_tagging_geo_fencing"  class="form-control" value="" />
                  </div>
                </div>
              </div>
              <button matStepperNext mat-button style="background-color: #3FB8DE;color: white;"
                class="float-end">Next</button>
            </form>
          </mat-step>

            <mat-step [stepControl]="LPSFormGroup">
              <mat-accordion>
                <form [formGroup]="LPSFormGroup">
                  <ng-template matStepLabel>LPS</ng-template>
                
                  <div formArrayName="expansionPanels">
                    <mat-expansion-panel *ngFor="let panel of expansionPanelsArray.controls; let i = index">
                      <mat-expansion-panel-header>
                        <mat-panel-title>
                          <label class="col-6 col-form-label" style="font-weight: bold">File {{i + 1}}</label>
                        </mat-panel-title>
                      </mat-expansion-panel-header>
                
                      <div [formGroup]="panel">
                        <!-- File input field -->
                        <div class="row col-7 mb-3">
                          <div class="input-group">
                            <input type="file" class="form-control" id="inputGroupFile04" aria-describedby="inputGroupFileAddon04"
                            aria-label="Upload" (change)="onFileChange($event, i,'lps')">
                                                    </div>
                        </div>
                
                        <!-- Ref. No. input field -->
                        <div class="row col-7 mb-3">
                          <label for="refno" class="col-sm-2 col-form-label">Ref. No. :</label>
                          <div class="col-sm-10">
                            <input type="text" class="form-control" id="refno" formControlName="refNo">
                          </div>
                        </div>
                
                        <!-- Extent input field -->
                        <div class="row col-7 mb-3">
                          <label for="extent" class="col-sm-2 col-form-label">Extent:</label>
                          <div class="col-sm-10">
                            <input type="text" class="form-control" id="extent" formControlName="extent">
                          </div>
                        </div>
                
                        <!-- Survey No. input field -->
                        <div class="row col-7 mb-3">
                          <label for="surveyno" class="col-sm-2 col-form-label">Survey No. :</label>
                          <div class="col-sm-10">
                            <input type="text" class="form-control" id="surveyno" formControlName="surveyNo">
                          </div>
                        </div>
                
                        <!-- FormArray for repeated fields -->
                        <div formArrayName="repeatedFields">
                          <div *ngFor="let field of panel.get('repeatedFields').controls; let j = index" [formGroupName]="j"
                            class="row mb-3 col-7 d-flex justify-content-between align-items-center p-2">
                            <input placeholder="" type="text" class="form-control" style="width: 45%;" formControlName="field1">
                            <input placeholder="" type="text" class="form-control" style="width: 45%;" formControlName="field2">
                            <button (click)="removeRepeatedField(i, j,'lps')" class="btn-close" aria-label="Close"
                              style="background-color: red;"></button>
                          </div>
                        </div>
                
                        <!-- Add button for repeated fields -->
                        <div class="row col-7 mb-3">
                          <button (click)="addRepeatedField(i,'lps')" type="button" class="btn ms-2"
                            style="width: auto;background-color: #3FB8DE;color: white;">Add</button>
                        </div>
                      </div>
                    </mat-expansion-panel>
                  </div>
                  <div class="row col-7" style="margin-top: 5px;">
                    <button (click)="addExpansionPanel()" type="button" class="btn ms-2"
                      style="width: auto;background-color: #3FB8DE;color: white;">Add </button>
                      <button *ngIf="expansionPanelsArray.length > 1" (click)="removeLastRepeatedField('lps')" type="button" class="btn ms-2"
                      style="width: auto;background-color: red;color: white;">Remove</button>
                  </div>
                </form>
                
                

              </mat-accordion>
            </mat-step>
          

          <mat-step [stepControl]="FMBFormGroup">
              <mat-accordion>

                <form [formGroup]="FMBFormGroup">
                  <ng-template matStepLabel>FMB</ng-template>
                
                  <div formArrayName="expansionPanelsFMB">
                    <mat-expansion-panel *ngFor="let panel of expansionPanelsArrayFMB.controls; let i = index">
                      <mat-expansion-panel-header>
                        <mat-panel-title>
                          <label class="col-6 col-form-label" style="font-weight: bold">File {{i + 1}}</label>
                        </mat-panel-title>
                      </mat-expansion-panel-header>
                
                      <div [formGroup]="panel">
                        <!-- File input field -->
                        <div class="row col-7 mb-3">
                          <div class="input-group">
                            <input type="file" class="form-control" id="inputGroupFile04" aria-describedby="inputGroupFileAddon04"
                            aria-label="Upload" (change)="onFileChange($event, i,'fmb')">
                                                    </div>
                        </div>
                
                        <!-- Ref. No. input field -->
                        <div class="row col-7 mb-3">
                          <label for="refno" class="col-sm-2 col-form-label">Ref. No. :</label>
                          <div class="col-sm-10">
                            <input type="text" class="form-control" id="refno" formControlName="refNo">
                          </div>
                        </div>
                
                        <!-- Extent input field -->
                        <div class="row col-7 mb-3">
                          <label for="extent" class="col-sm-2 col-form-label">Extent:</label>
                          <div class="col-sm-10">
                            <input type="text" class="form-control" id="extent" formControlName="extent">
                          </div>
                        </div>
                
                        <!-- Survey No. input field -->
                        <div class="row col-7 mb-3">
                          <label for="surveyno" class="col-sm-2 col-form-label">Survey No. :</label>
                          <div class="col-sm-10">
                            <input type="text" class="form-control" id="surveyno" formControlName="surveyNo">
                          </div>
                        </div>
                
                        <!-- FormArray for repeated fields -->
                        <div formArrayName="repeatedFields">
                          <div *ngFor="let field of panel.get('repeatedFields').controls; let j = index" [formGroupName]="j"
                            class="row mb-3 col-7 d-flex justify-content-between align-items-center p-2">
                            <input placeholder="" type="text" class="form-control" style="width: 45%;" formControlName="field1">
                            <input placeholder="" type="text" class="form-control" style="width: 45%;" formControlName="field2">
                            <button (click)="removeRepeatedField(i, j,'fmb')" class="btn-close" aria-label="Close"
                              style="background-color: red;"></button>
                          </div>
                        </div>
                
                        <!-- Add button for repeated fields -->
                        <div class="row col-7 mb-3">
                          <button (click)="addRepeatedField(i,'fmb')" type="button" class="btn ms-2"
                            style="width: auto;background-color: #3FB8DE;color: white;">Add</button>
                        </div>
                      </div>
                    </mat-expansion-panel>
                  </div>
                  <div class="row col-7" style="margin-top: 5px;">
                    <button (click)="addExpansionPanelFMB()" type="button" class="btn ms-2"
                      style="width: auto;background-color: #3FB8DE;color: white;">Add </button>
                      <button *ngIf="expansionPanelsArrayFMB.length > 1" (click)="removeLastRepeatedField('fmb')" type="button" class="btn ms-2"
                        style="width: auto;background-color: red;color: white;">Remove</button>
                  </div>
                </form>
              </mat-accordion>

          </mat-step>

          <mat-step [stepControl]="fourOneFormGroup">
            <form [formGroup]="fourOneFormGroup">
              <ng-template matStepLabel>4(1)</ng-template>
            
              <div formArrayName="expansionPanels4">
                <mat-expansion-panel *ngFor="let panel of expansionPanelsArray4.controls; let i = index">
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      <label class="col-6 col-form-label" style="font-weight: bold">File {{i + 1}}</label>
                    </mat-panel-title>
                  </mat-expansion-panel-header>
            
                  <div [formGroup]="panel">
                    <!-- File input field -->
                    <div class="row col-7 mb-3">
                      <div class="input-group">
                        <input type="file" class="form-control" id="inputGroupFile04" aria-describedby="inputGroupFileAddon04"
                        aria-label="Upload" (change)="onFileChange($event, i,'4(1)')">
                                                </div>
                    </div>
            
                    <!-- Ref. No. input field -->
                    <div class="row col-7 mb-3">
                      <label for="refno" class="col-sm-2 col-form-label">Ref. No. :</label>
                      <div class="col-sm-10">
                        <input type="text" class="form-control" id="refno" formControlName="refNo">
                      </div>
                    </div>
            
                    <!-- Extent input field -->
                    <div class="row col-7 mb-3">
                      <label for="extent" class="col-sm-2 col-form-label">Extent:</label>
                      <div class="col-sm-10">
                        <input type="text" class="form-control" id="extent" formControlName="extent">
                      </div>
                    </div>
            
                    <!-- Survey No. input field -->
                    <div class="row col-7 mb-3">
                      <label for="surveyno" class="col-sm-2 col-form-label">Survey No. :</label>
                      <div class="col-sm-10">
                        <input type="text" class="form-control" id="surveyno" formControlName="surveyNo">
                      </div>
                    </div>
            
                    <!-- FormArray for repeated fields -->
                    <div formArrayName="repeatedFields">
                      <div *ngFor="let field of panel.get('repeatedFields').controls; let j = index" [formGroupName]="j"
                        class="row mb-3 col-7 d-flex justify-content-between align-items-center p-2">
                        <input placeholder="" type="text" class="form-control" style="width: 45%;" formControlName="field1">
                        <input placeholder="" type="text" class="form-control" style="width: 45%;" formControlName="field2">
                        <button (click)="removeRepeatedField(i, j,'4(1)')" class="btn-close" aria-label="Close"
                          style="background-color: red;"></button>
                      </div>
                    </div>
            
                    <!-- Add button for repeated fields -->
                    <div class="row col-7 mb-3">
                      <button (click)="addRepeatedField(i,'4(1)')" type="button" class="btn ms-2"
                        style="width: auto;background-color: #3FB8DE;color: white;">Add</button>
                    </div>
                  </div>
                </mat-expansion-panel>
              </div>
              <div class="row col-7" style="margin-top: 5px;">
                <button (click)="addExpansionPanel4One()" type="button" class="btn ms-2"
                  style="width: auto;background-color: #3FB8DE;color: white;">Add </button>
                  <button *ngIf="expansionPanelsArray4.length > 1" (click)="removeLastRepeatedField('4(1)')" type="button" class="btn ms-2"
                    style="width: auto;background-color: red;color: white;">Remove</button>
              </div>
            </form>
          </mat-step>

          <mat-step [stepControl]="sixDDFormGroup">
              <ng-template matStepLabel>6DD</ng-template>
              <mat-accordion>

                <form [formGroup]="sixDDFormGroup">
                  <ng-template matStepLabel>6DD</ng-template>
                
                  <div formArrayName="expansionPanelsSix">
                    <mat-expansion-panel *ngFor="let panel of expansionPanelsSixDD.controls; let i = index">
                      <mat-expansion-panel-header>
                        <mat-panel-title>
                          <label class="col-6 col-form-label" style="font-weight: bold">File {{i + 1}}</label>
                        </mat-panel-title>
                      </mat-expansion-panel-header>
                
                      <div [formGroup]="panel">
                        <!-- File input field -->
                        <div class="row col-7 mb-3">
                          <div class="input-group">
                            <input type="file" class="form-control" id="inputGroupFile04" aria-describedby="inputGroupFileAddon04"
                            aria-label="Upload" (change)="onFileChange($event, i,'6DD')">
                                                    </div>
                        </div>
                
                        <!-- Ref. No. input field -->
                        <div class="row col-7 mb-3">
                          <label for="refno" class="col-sm-2 col-form-label">Ref. No. :</label>
                          <div class="col-sm-10">
                            <input type="text" class="form-control" id="refno" formControlName="refNo">
                          </div>
                        </div>
                
                        <!-- Extent input field -->
                        <div class="row col-7 mb-3">
                          <label for="extent" class="col-sm-2 col-form-label">Extent:</label>
                          <div class="col-sm-10">
                            <input type="text" class="form-control" id="extent" formControlName="extent">
                          </div>
                        </div>
                
                        <!-- Survey No. input field -->
                        <div class="row col-7 mb-3">
                          <label for="surveyno" class="col-sm-2 col-form-label">Survey No. :</label>
                          <div class="col-sm-10">
                            <input type="text" class="form-control" id="surveyno" formControlName="surveyNo">
                          </div>
                        </div>
                
                        <!-- FormArray for repeated fields -->
                        <div formArrayName="repeatedFields">
                          <div *ngFor="let field of panel.get('repeatedFields').controls; let j = index" [formGroupName]="j"
                            class="row mb-3 col-7 d-flex justify-content-between align-items-center p-2">
                            <input placeholder="" type="text" class="form-control" style="width: 45%;" formControlName="field1">
                            <input placeholder="" type="text" class="form-control" style="width: 45%;" formControlName="field2">
                            <button (click)="removeRepeatedField(i, j,'6DD')" class="btn-close" aria-label="Close"
                              style="background-color: red;"></button>
                          </div>
                        </div>
                
                        <!-- Add button for repeated fields -->
                        <div class="row col-7 mb-3">
                          <button (click)="addRepeatedField(i,'6DD')" type="button" class="btn ms-2"
                            style="width: auto;background-color: #3FB8DE;color: white;">Add</button>
                        </div>
                      </div>
                    </mat-expansion-panel>
                  </div>
                  <div class="row col-7" style="margin-top: 5px;">
                    <button (click)="addExpansionPanelSixDD()" type="button" class="btn ms-2"
                      style="width: auto;background-color: #3FB8DE;color: white;">Add </button>
                      <button *ngIf="expansionPanelsArray4.length > 1" (click)="removeLastRepeatedField('6DD')" type="button" class="btn ms-2"
                        style="width: auto;background-color: red;color: white;">Remove</button>
                  </div>
                </form>
              </mat-accordion>
          </mat-step>
          <mat-step [stepControl]="awardInfoFormGroup">
            <mat-accordion>
              <mat-expansion-panel [expanded]="isPanel4Expanded" (opened)="togglePanel4()" (closed)="togglePanel4()">
                <mat-expansion-panel-header>
                  <mat-panel-title class="fw-bold fs-5">Award Information</mat-panel-title>
                </mat-expansion-panel-header>

                <form [formGroup]="awardInfoFormGroup">
                  <ng-template matStepLabel>Award Information</ng-template>
                  <div class="row d-flex justify-content-center">
                    <div class="row mb-3 col-6">
                      <label class="col-sm-9 col-form-label" style="font-weight: bold">Number:<span
                          style="color: red;">*</span></label>
                      <div class="col-sm-10">
                        <input matInput type="text" class="form-control" value="" />
                      </div>
                    </div>

                    <div class="row mb-3 col-6">
                      <label class="col-sm-9 col-form-label" style="font-weight: bold">Date:<span
                          style="color: red;">*</span></label>
                      <div class="col-sm-10">
                        <input matInput type="text" class="form-control" value="" />
                      </div>
                    </div>

                    <div class="row mb-3 col-6">
                      <label class="col-sm-9 col-form-label" style="font-weight: bold">Survey Numbers:<span
                          style="color: red;">*</span></label>
                      <div class="col-sm-10">
                        <input matInput type="text" class="form-control" value="" />
                      </div>
                    </div>

                    <div class="row mb-3 col-6">
                      <label class="col-sm-9 col-form-label" style="font-weight: bold">Extent (in acres):<span
                          style="color: red;">*</span></label>
                      <div class="col-sm-10">
                        <input matInput type="text" class="form-control" value="" />
                      </div>
                    </div>

                    <div class="row col-6 mb-3">
                      <label class="col-form-label" style="font-weight: bold">Boundary PDF File:<span
                          style="color: red;">*</span></label>
                      <div class="input-group">
                        <input type="file" class="form-control" id="inputGroupFile04"
                          aria-describedby="inputGroupFileAddon04" aria-label="Upload">
                        <button type="button" class="ms-2 rounded btn"
                          style="background-color: #3FB8DE;color: white;">Upload</button>
                      </div>
                    </div>

                    <div class="row mb-3 col-6">
                      <label class="col-sm-9 col-form-label" style="font-weight: bold">Notified Person:<span
                          style="color: red;">*</span></label>
                      <div class="col-sm-10">
                        <input matInput type="text" class="form-control" value="" />
                      </div>
                    </div>

                    <div class="row mb-3 col-6">
                      <label class="col-sm-9 col-form-label" style="font-weight: bold">Award Amount_Direct
                        Payment:<span style="color: red;">*</span></label>
                      <div class="col-sm-10">
                        <input matInput type="text" class="form-control" value="" />
                      </div>
                    </div>

                    <div class="row mb-3 col-6">
                      <label class="col-sm-10 col-form-label" style="font-weight: bold">Award Amount_Revenue
                        Deposit:<span style="color: red;">*</span></label>
                      <div class="col-sm-10">
                        <input matInput type="text" class="form-control" value="" />

                      </div>
                    </div>

                    <div class="row mb-3 col-6">
                      <label class="col-sm-10 col-form-label" style="font-weight: bold">Award Amount_Civil Court
                        Deposit:<span style="color: red;">*</span></label>
                      <div class="col-sm-10">
                        <input matInput type="text" class="form-control" value="" />
                      </div>
                    </div>

                    <div class="row mb-3 col-6">

                    </div>
                  </div>

                  <div class="row mb-3 col-6">
                    <div class="col-sm-10 p-0">
                      <label class="col-sm-9 col-form-label fs-5 ps-0" style="font-weight: bold;">Possession
                        Taken Over</label>
                    </div>
                  </div>

                  <div class="row d-flex justify-content-center">
                    <div class="row mb-3 col-6">
                      <label class="col-sm-9 col-form-label" style="font-weight: bold">Survey Numbers:<span
                          style="color: red;">*</span></label>
                      <div class="col-sm-10">
                        <input matInput type="text" class="form-control" value="" />
                      </div>
                    </div>

                    <div class="row mb-3 col-6">
                      <label class="col-sm-9 col-form-label" style="font-weight: bold">Extent (in acres):<span
                          style="color: red;">*</span></label>
                      <div class="col-sm-10">
                        <input matInput type="text" class="form-control" value="" />

                      </div>
                    </div>

                    <div class="row mb-3 col-6">
                      <label class="col-sm-9 col-form-label" style="font-weight: bold">Scheme Implemented_Survey
                        Numbers:<span style="color: red;">*</span></label>
                      <div class="col-sm-10">
                        <input matInput type="text" class="form-control" value="" />
                      </div>
                    </div>

                    <div class="row mb-3 col-6">
                      <label class="col-sm-9 col-form-label" style="font-weight: bold">Scheme Implemented_Extent (in
                        acres):<span style="color: red;">*</span></label>
                      <div class="col-sm-10">
                        <input matInput type="text" class="form-control" value="" />

                      </div>
                    </div>
                    <div class="row mb-3 col-6">
                      <label class="col-sm-9 col-form-label" style="font-weight: bold">Extent cannot be utilized for
                        Scheme Implemented_Survey Numbers:<span style="color: red;">*</span></label>
                      <div class="col-sm-10">
                        <input matInput type="text" class="form-control" value="" />
                      </div>
                    </div>

                    <div class="row mb-3 col-6">
                      <label class="col-sm-9 col-form-label" style="font-weight: bold">Extent cannot be utilized for
                        Scheme Implemented_Extent (in acres):<span style="color: red;">*</span></label>
                      <div class="col-sm-10">
                        <input matInput type="text" class="form-control" value="" />

                      </div>
                    </div>
                    <div class="row mb-3 col-6">
                      <label class="col-sm-9 col-form-label" style="font-weight: bold">Extent covered by Court Case(in
                        acres):<span style="color: red;">*</span></label>
                      <div class="col-sm-10">
                        <input matInput type="text" class="form-control" value="" />

                      </div>
                    </div>

                    <div class="row mb-3 col-6">
                      <label class="col-sm-10 col-form-label" style="font-weight: bold">Court case - Legal Proceedings
                        Status:<span style="color: red;">*</span></label>
                      <div class="col-sm-10">
                        <input matInput type="text" class="form-control" value="" />
                      </div>
                    </div>

                    <div class="row col-6 mb-3">
                      <label class="col-form-label" style="font-weight: bold">Boundary PDF File:<span
                          style="color: red;">*</span></label>
                      <div class="input-group">
                        <input type="file" class="form-control" id="inputGroupFile04"
                          aria-describedby="inputGroupFileAddon04" aria-label="Upload">
                        <button type="button" class="ms-2 rounded btn"
                          style="background-color: #3FB8DE;color: white;">Upload</button>
                      </div>
                    </div>

                    <div class="row mb-3 col-6">
                      <label class="col-sm-9 col-form-label" style="font-weight: bold">Extent covered under Want of
                        approach road:<span style="color: red;">*</span></label>
                      <div class="col-sm-10">
                        <input matInput type="text" class="form-control" value="" />
                      </div>
                    </div>
                    <div class="row mb-3 col-6">
                      <label class="col-sm-10 col-form-label" style="font-weight: bold">Want of approach road - Legal
                        Proceedings Status:<span style="color: red;">*</span></label>
                      <div class="col-sm-10">
                        <input matInput type="text" class="form-control" value="" />
                      </div>
                    </div>

                    <div class="row col-6 mb-3">
                      <label class="col-form-label" style="font-weight: bold">Boundary PDF File:<span
                          style="color: red;">*</span></label>
                      <div class="input-group">
                        <input type="file" class="form-control" id="inputGroupFile04"
                          aria-describedby="inputGroupFileAddon04" aria-label="Upload">
                        <button type="button" class="ms-2 rounded btn"
                          style="background-color: #3FB8DE;color: white;">Upload</button>
                      </div>
                    </div>
                    <div class="row mb-3 col-6">
                      <label class="col-sm-9 col-form-label" style="font-weight: bold">Extent covered under
                        Encroachment:<span style="color: red;">*</span></label>
                      <div class="col-sm-10">
                        <input matInput type="text" class="form-control" value="" />
                      </div>
                    </div>
                    <div class="row mb-3 col-6">
                      <label class="col-sm-10 col-form-label" style="font-weight: bold">Encroachment - Legal Proceedings
                        Status:<span style="color: red;">*</span></label>
                      <div class="col-sm-10">
                        <input matInput type="text" class="form-control" value="" />
                      </div>
                    </div>

                    <div class="row col-6 mb-3">
                      <label class="col-form-label" style="font-weight: bold">Boundary PDF File:<span
                          style="color: red;">*</span></label>
                      <div class="input-group">
                        <input type="file" class="form-control" id="inputGroupFile04"
                          aria-describedby="inputGroupFileAddon04" aria-label="Upload">
                        <button type="button" class="ms-2 rounded btn"
                          style="background-color: #3FB8DE;color: white;">Upload</button>
                      </div>
                    </div>

                    <div class="row mb-3 col-6">
                      <label class="col-sm-9 col-form-label" style="font-weight: bold">Extent covered under
                        Scattered:<span style="color: red;">*</span></label>
                      <div class="col-sm-10">
                        <input matInput type="text" class="form-control" value="" />

                      </div>
                    </div>
                    <div class="row mb-3 col-6">
                      <label class="col-sm-10 col-form-label" style="font-weight: bold">Scattered - Legal Proceedings
                        Status:<span style="color: red;">*</span></label>
                      <div class="col-sm-10">
                        <input matInput type="text" class="form-control" value="" />
                      </div>
                    </div>

                    <div class="row col-6 mb-3">
                      <label class="col-form-label" style="font-weight: bold">Boundary PDF File:<span
                          style="color: red;">*</span></label>
                      <div class="input-group">
                        <input type="file" class="form-control" id="inputGroupFile04"
                          aria-describedby="inputGroupFileAddon04" aria-label="Upload">
                        <button type="button" class="ms-2 rounded btn"
                          style="background-color: #3FB8DE;color: white;">Upload</button>
                      </div>
                    </div>

                    <div class="row mb-3 col-6">
                      <label class="col-sm-9 col-form-label" style="font-weight: bold">Extent covered under
                        Quashed:<span style="color: red;">*</span></label>
                      <div class="col-sm-10">
                        <input matInput type="text" class="form-control" value="" />
                      </div>
                    </div>
                    <div class="row mb-3 col-6">
                      <label class="col-sm-10 col-form-label" style="font-weight: bold">Quashed - Legal Proceedings
                        Status:<span style="color: red;">*</span></label>
                      <div class="col-sm-10">
                        <input matInput type="text" class="form-control" value="" />
                      </div>
                    </div>

                    <div class="row col-6 mb-3">
                      <label class="col-form-label" style="font-weight: bold">Boundary PDF File:<span
                          style="color: red;">*</span></label>
                      <div class="input-group">
                        <input type="file" class="form-control" id="inputGroupFile04"
                          aria-describedby="inputGroupFileAddon04" aria-label="Upload">
                        <button type="button" class="ms-2 rounded btn"
                          style="background-color: #3FB8DE;color: white;">Upload</button>
                      </div>
                    </div>

                    <div class="row mb-3 col-6">
                      <label class="col-sm-9 col-form-label" style="font-weight: bold">Extent covered under
                        Reconveyed:<span style="color: red;">*</span></label>
                      <div class="col-sm-10">
                        <input matInput type="text" class="form-control" value="" />
                      </div>
                    </div>
                    <div class="row mb-3 col-6">
                      <label class="col-sm-10 col-form-label" style="font-weight: bold">Reconveyed - Legal Proceedings
                        Status:<span style="color: red;">*</span></label>
                      <div class="col-sm-10">
                        <input matInput type="text" class="form-control" value="" />
                      </div>
                    </div>

                    <div class="row col-6 mb-3">
                      <label class="col-form-label" style="font-weight: bold">Boundary PDF File:<span
                          style="color: red;">*</span></label>
                      <div class="input-group">
                        <input type="file" class="form-control" id="inputGroupFile04"
                          aria-describedby="inputGroupFileAddon04" aria-label="Upload">
                        <button type="button" class="ms-2 rounded btn"
                          style="background-color: #3FB8DE;color: white;">Upload</button>
                      </div>
                    </div>

                    <div class="row mb-3 col-6">
                      <label class="col-sm-9 col-form-label" style="font-weight: bold">Extent covered under NOC
                        Issued:<span style="color: red;">*</span></label>
                      <div class="col-sm-10">
                        <input matInput type="text" class="form-control" value="" />
                      </div>
                    </div>

                    <div class="row mb-3 col-6">
                      <label class="col-sm-10 col-form-label" style="font-weight: bold">NOC Issued - Legal Proceedings
                        Status:<span style="color: red;">*</span></label>
                      <div class="col-sm-10">
                        <input matInput type="text" class="form-control" value="" />
                      </div>
                    </div>

                    <div class="row col-6 mb-3">
                      <label class="col-form-label" style="font-weight: bold">Boundary PDF File:<span
                          style="color: red;">*</span></label>
                      <div class="input-group d-flex align-items-baseline">
                        <input type="file" class="form-control" id="inputGroupFile04"
                          aria-describedby="inputGroupFileAddon04" aria-label="Upload">
                        <button type="button" class="ms-2 rounded btn"
                          style="background-color: #3FB8DE;color: white;">Upload</button>
                      </div>
                    </div>

                    <!-- <div class="row mb-3">
        <div class="col-sm-10">
          <label class="col-sm-9 col-form-label" style="font-weight: bold;color:blue">Extent available for scheme implementation:</label>
        </div>
      </div> -->
                    <div class="row mb-3 col-6">
                      <label class="col-sm-9 col-form-label" style="font-weight: bold">Extent available for scheme
                        implementation_Survey Numbers:<span style="color: red;">*</span></label>
                      <div class="col-sm-10">
                        <input matInput type="text" class="form-control" value="" />
                      </div>
                    </div>

                    <div class="row mb-3 col-6">
                      <label class="col-sm-9 col-form-label" style="font-weight: bold">Extent available for scheme
                        implementation_Extent (in acres):<span style="color: red;">*</span></label>
                      <div class="col-sm-10">
                        <input matInput type="text" class="form-control" value="" />
                      </div>
                    </div>

                    <div class="row mb-3 col-6">
                      <label class="col-sm-9 col-form-label" style="font-weight: bold"></label>
                      <div class="col-sm-10">

                      </div>
                    </div>
                  </div>


                  <div class="row mb-3 col-6">
                    <div class="col-sm-10 p-0">
                      <label class="col-sm-9 col-form-label fs-5 ps-0" style="font-weight: bold;">Possession Not Handed
                        Over:</label>
                    </div>
                  </div>

                  <div class="row d-flex justify-content-center">
                    <div class="row mb-3 col-6">
                      <label class="col-sm-9 col-form-label" style="font-weight: bold">Survey Numbers:<span
                          style="color: red;">*</span></label>
                      <div class="col-sm-10">
                        <input matInput type="text" class="form-control" value="" />
                      </div>
                    </div>

                    <div class="row mb-3 col-6">
                      <label class="col-sm-10 col-form-label" style="font-weight: bold">Extent (in acres):<span
                          style="color: red;">*</span></label>
                      <div class="col-sm-10">
                        <input matInput type="text" class="form-control" value="" />

                      </div>
                    </div>

                    <div class="row mb-3 col-6">
                      <label class="col-sm-10 col-form-label" style="font-weight: bold">Extent covered by court case(in
                        acres):<span style="color: red;">*</span></label>
                      <div class="col-sm-10">
                        <input matInput type="text" class="form-control" value="" />

                      </div>
                    </div>

                    <div class="row mb-3 col-6">
                      <label class="col-sm-10 col-form-label" style="font-weight: bold">Court case - Legal Proceedings
                        Status:<span style="color: red;">*</span></label>
                      <div class="col-sm-10">
                        <input matInput type="text" class="form-control" value="" />
                      </div>
                    </div>

                    <div class="row col-6 mb-3">
                      <label class="col-form-label" style="font-weight: bold">Boundary PDF File:<span
                          style="color: red;">*</span></label>
                      <div class="input-group">
                        <input type="file" class="form-control" id="inputGroupFile04"
                          aria-describedby="inputGroupFileAddon04" aria-label="Upload">
                        <button type="button" class="ms-2 rounded btn"
                          style="background-color: #3FB8DE;color: white;">Upload</button>
                      </div>
                    </div>


                    <div class="row mb-3 col-6">
                      <label class="col-sm-10 col-form-label" style="font-weight: bold">Extent covered under
                        encroachment(in acres):<span style="color: red;">*</span></label>
                      <div class="col-sm-10">
                        <input matInput type="text" class="form-control" value="" />
                      </div>
                    </div>

                    <div class="row mb-3 col-6">
                      <label class="col-sm-10 col-form-label" style="font-weight: bold">Encroachment - Legal Proceedings
                        Status:<span style="color: red;">*</span></label>
                      <div class="col-sm-10">
                        <input matInput type="text" class="form-control" value="" />
                      </div>
                    </div>

                    <div class="row col-6 mb-3">
                      <label class="col-form-label" style="font-weight: bold">Boundary PDF File:<span
                          style="color: red;">*</span></label>
                      <div class="input-group">
                        <input type="file" class="form-control" id="inputGroupFile04"
                          aria-describedby="inputGroupFileAddon04" aria-label="Upload">
                        <button type="button" class="ms-2 rounded btn"
                          style="background-color: #3FB8DE;color: white;">Upload</button>
                      </div>
                    </div>

                    <div class="row mb-3 col-6">
                      <label class="col-sm-10 col-form-label" style="font-weight: bold">Extent covered under quashed(in
                        acres):<span style="color: red;">*</span></label>
                      <div class="col-sm-10">
                        <input matInput type="text" class="form-control" value="" />
                      </div>
                    </div>

                    <div class="row mb-3 col-6">
                      <label class="col-sm-10 col-form-label" style="font-weight: bold">Quashed - Legal Proceedings
                        Status:<span style="color: red;">*</span></label>
                      <div class="col-sm-10">
                        <input matInput type="text" class="form-control" value="" />
                      </div>
                    </div>

                    <div class="row col-6 mb-3">
                      <label class="col-form-label" style="font-weight: bold">Boundary PDF File:<span
                          style="color: red;">*</span></label>
                      <div class="input-group">
                        <input type="file" class="form-control" id="inputGroupFile04"
                          aria-describedby="inputGroupFileAddon04" aria-label="Upload">
                        <button type="button" class="ms-2 rounded btn"
                          style="background-color: #3FB8DE;color: white;">Upload</button>
                      </div>
                    </div>



                    <div class="row mb-3 col-6">
                      <label class="col-sm-10 col-form-label" style="font-weight: bold">Extent covered under Without
                        encumbrance(in acres):<span style="color: red;">*</span></label>
                      <div class="col-sm-10">
                        <input matInput type="text" class="form-control" value="" />

                      </div>
                    </div>

                    <div class="row mb-3 col-6">
                      <label class="col-sm-10 col-form-label" style="font-weight: bold">Without encumbrance - Legal
                        Proceedings Status:<span style="color: red;">*</span></label>
                      <div class="col-sm-10">
                        <input matInput type="text" class="form-control" value="" />
                      </div>
                    </div>

                    <div class="row col-6 mb-3">
                      <label class="col-form-label" style="font-weight: bold">Boundary PDF File:<span
                          style="color: red;">*</span></label>
                      <div class="input-group">
                        <input type="file" class="form-control" id="inputGroupFile04"
                          aria-describedby="inputGroupFileAddon04" aria-label="Upload">
                        <button type="button" class="ms-2 rounded btn"
                          style="background-color: #3FB8DE;color: white;">Upload</button>
                      </div>
                    </div>

                  </div>

                </form>
              </mat-expansion-panel>
            </mat-accordion><br>
            <div class="d-flex justify-content-end">
              <button mat-button matStepperPrevious class="border">Previous</button>
              <button mat-button matStepperNext style="background-color: #3FB8DE;color: white;"
                class="ms-2">Next</button>

                
            </div>
          </mat-step>

          <mat-step [stepControl]="awardInfoFormGroup">
            <mat-accordion>
              <mat-expansion-panel [expanded]="isPanel1Expanded" (opened)="togglePanel1()" (closed)="togglePanel1()">
                <mat-expansion-panel-header>
                  <mat-panel-title class="fw-bold">Left over Between LPS and 4(1)</mat-panel-title>
                </mat-expansion-panel-header>

                <form [formGroup]="awardInfoFormGroup">
                  <ng-template matStepLabel>Left over</ng-template>
                  <div class="row mb-3">
                    <div class="col-5">
                      <label class="col-sm-9 col-form-label" style="font-weight: bold">Survey No:<span
                          style="color: red;">*</span></label>
                      <div class="col">
                        <input type="text" class="form-control" value="" />
                      </div>
                    </div>
                    <div class="col-5">
                      <label class="col-sm-9 col-form-label" style="font-weight: bold">Extent:<span
                          style="color: red;">*</span></label>
                      <div class="col">
                        <input type="text" class="form-control" value="" />
                      </div>
                    </div>
                    <div class="col-2 position-relative">
                      <button (click)="addLeftForm1()" class="btn position-absolute bottom-0 end-0"
                        style="width: 3rem;background-color: #3FB8DE;color: white;"><i
                          class="bi bi-plus-circle"></i></button>
                    </div>
                  </div>
                </form>

                <form [formGroup]="awardInfoFormGroup" *ngFor="let leftForm1 of leftForms1; let i = index">
                  <div class="row mb-3">
                    <div class="col-5">
                      <div class="col">
                        <input type="text" class="form-control" value="" />
                      </div>
                    </div>
                    <div class="col-5">
                      <div class="col">
                        <input type="text" class="form-control" value="" />
                      </div>
                    </div>
                    <div class="col-2 position-relative">
                      <div class="row d-flex justify-content-between">
                        <button class=" col-5 btn"
                          style="width: 3rem;background-color: #3FB8DE;color: white;">Save</button>
                        <button (click)="removeLeftForm1(i)" class="btn"
                          style="width: 3rem;background-color: red;color: white;"><i
                            class="bi bi-x-circle"></i></button>
                      </div>
                    </div>
                  </div>
                </form>

              </mat-expansion-panel>

              <mat-expansion-panel [expanded]="isPanel2Expanded" (opened)="togglePanel2()" (closed)="togglePanel2()">
                <mat-expansion-panel-header>
                  <mat-panel-title class="fw-bold">Left over Between 4(1) and 6DD</mat-panel-title>
                </mat-expansion-panel-header>

                <form [formGroup]="awardInfoFormGroup">
                  <div class="row mb-3">
                    <div class="col-5">
                      <label class="col-sm-9 col-form-label" style="font-weight: bold">Survey No:<span
                          style="color: red;">*</span></label>
                      <div class="col">
                        <input type="text" class="form-control" value="" />
                      </div>
                    </div>
                    <div class="col-5">
                      <label class="col-sm-9 col-form-label" style="font-weight: bold">Extent:<span
                          style="color: red;">*</span></label>
                      <div class="col">
                        <input type="text" class="form-control" value="" />
                      </div>
                    </div>
                    <div class="col-2 position-relative">
                      <button (click)="addLeftForm2()" class="btn position-absolute bottom-0 end-0"
                        style="width: 3rem;background-color: #3FB8DE;color: white;"><i
                          class="bi bi-plus-circle"></i></button>
                    </div>
                  </div>
                </form>

                <form [formGroup]="awardInfoFormGroup" *ngFor="let leftForm2 of leftForms2; let i = index">
                  <div class="row mb-3">
                    <div class="col-5">
                      <div class="col">
                        <input type="text" class="form-control" value="" />
                      </div>
                    </div>
                    <div class="col-5">
                      <div class="col">
                        <input type="text" class="form-control" value="" />
                      </div>
                    </div>
                    <div class="col-2 position-relative">
                      <div class="row d-flex justify-content-between">
                        <button class=" col-5 btn"
                          style="width: 3rem;background-color: #3FB8DE;color: white;">Save</button>
                        <button (click)="removeLeftForm2(i)" class="btn"
                          style="width: 3rem;background-color: red;color: white;"><i
                            class="bi bi-x-circle"></i></button>
                      </div>
                    </div>
                  </div>
                </form>

              </mat-expansion-panel>

              <mat-expansion-panel [expanded]="isPanel3Expanded" (opened)="togglePanel3()" (closed)="togglePanel3()">
                <mat-expansion-panel-header>
                  <mat-panel-title class="fw-bold">Left over Between 6DD and Award</mat-panel-title>
                </mat-expansion-panel-header>

                <form [formGroup]="awardInfoFormGroup">
                  <div class="row mb-3">
                    <div class="col-5">
                      <label class="col-sm-9 col-form-label" style="font-weight: bold">Survey No:<span
                          style="color: red;">*</span></label>
                      <div class="col">
                        <input type="text" class="form-control" value="" />
                      </div>
                    </div>
                    <div class="col-5">
                      <label class="col-sm-9 col-form-label" style="font-weight: bold">Extent:<span
                          style="color: red;">*</span></label>
                      <div class="col">
                        <input type="text" class="form-control" value="" />
                      </div>
                    </div>
                    <div class="col-2 position-relative">
                      <button (click)="addLeftForm3()" class="btn position-absolute bottom-0 end-0"
                        style="width: 3rem;background-color: #3FB8DE;color: white;"><i
                          class="bi bi-plus-circle"></i></button>
                    </div>
                  </div>
                </form>

                <form [formGroup]="awardInfoFormGroup" *ngFor="let leftForm3 of leftForms3; let i = index">
                  <div class="row mb-3">
                    <div class="col-5">
                      <div class="col">
                        <input type="text" class="form-control" value="" />
                      </div>
                    </div>
                    <div class="col-5">
                      <div class="col">
                        <input type="text" class="form-control" value="" />
                      </div>
                    </div>
                    <div class="col-2 position-relative">
                      <div class="row d-flex justify-content-between">
                        <button class=" col-5 btn"
                          style="width: 3rem;background-color: #3FB8DE;color: white;">Save</button>
                        <button (click)="removeLeftForm3(i)" class="btn"
                          style="width: 3rem;background-color: red;color: white;"><i
                            class="bi bi-x-circle"></i></button>
                      </div>
                    </div>
                  </div>
                </form>

              </mat-expansion-panel>
            </mat-accordion><br>
            <div class="d-flex justify-content-end">
              <button mat-button matStepperPrevious class="border">Previous</button>
              <button mat-button style="background-color: #3FB8DE;color: white;" class="ms-2" (click)="submit()">Submit</button>
            </div>
          </mat-step>
       
        </mat-horizontal-stepper>
      </div>
    </div>

  </div>
</main>
<br>
<br>
