.btn-light {
    background-color:  rgba(63, 184, 222, 0.28);
    border-color: rgba(63, 184, 222, 0.28);
    width: 241.8px;
    height: 69px;
    border-radius: 16px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 14px;
    line-height: 137.5%;
}
th
{
  background-color: #3FB8DE;
  padding: 7px;
  border : 1px solid rgb(136, 134, 134);
  text-align: center;
}

table tr:nth-child(odd) td{
  padding-top: 8px;
  padding-bottom: 8px;
  border : 1px solid rgb(136, 134, 134);
  border-radius: 50px;
}
table tr:nth-child(even) td{
  padding-top: 8px;
  padding-bottom: 8px;
  border : 1px solid rgb(136, 134, 134);

  background-color: #f2f2f2;
}
td a i {
  padding-right: 15px;
}