<section class="ftco-section">
    <div class="container">

        <div class="row justify-content-center">
            <div class="col-md-12 col-lg-10">
                <div class="wrap d-md-flex">
                    <div class="img" style="background-image: url(../../assets/img/bg-4.jpg);">
                    </div>
                    <div class="login-wrap p-4 p-md-5">
                        <div class="d-flex">
                            <img src="../../assets/img/tnhb_logo.png" alt=""
                                style="max-height: 70px; margin-left: 2px;">
                        </div>
                        <br>
                        <header style="font-weight: 700;font-size: 30px;line-height: 35px;">Change Password</header>
                        <br>
                        <form class="signin-form" autocomplete="off" [formGroup]="form">

                            <div class="form-group mb-3">
                                <label class="label" for="name">Enter Username</label>
                                <input type="text" class="form-control" placeholder="Username" id="username"
                                    formControlName="userName" name="username" [disabled]="userDisabled">
                            </div>
                            <div class="form-group">
                                <button type="submit" class="form-control btn btn-primary rounded submit px-3"
                                    (click)="sentotp()" [disabled]="userDisabled">Send OTP</button>
                            </div>
                            <br>
                            <h5 style="color:green" *ngIf="otpmessage">{{ otpmessage }}</h5>
                            <h5 style="color:red" *ngIf="otperror">{{ otperror }}</h5>
                            <h5 style="color:red" *ngIf="usernotfound">{{ usernotfound }}</h5>

                            <div class="form-group mb-3" *ngIf="otpmessage">
                                <label class="label" for="otp">Enter OTP</label>
                                <input type="password" class="form-control" placeholder="Enter OTP" id="otp"
                                    formControlName="otp" name="otp" [disabled]="otpDisabled">
                            </div>
                            <div class="form-group" *ngIf="otpmessage">
                                <a>
                                    <button mat-raised-button type="submit"
                                        class="form-control btn btn-primary rounded submit px-3" (click)="checkOtp()"
                                        [disabled]="otpDisabled">Confirm</button>
                                </a>
                            </div>
                            <br>
                            <h5 style="color:green" *ngIf="otpverified">{{ otpverified }}</h5>
                            <h5 style="color:red" *ngIf="otpnotverified">{{ otpnotverified }}</h5>

                            <div class="form-group mb-3" *ngIf="otpverified">
                                <label class="label" for="otp">Enter Password</label>
                                <input type="password" class="form-control" placeholder="Enter Password"
                                    formControlName="password" name="password">
                            </div>
                            <div class="form-group" *ngIf="otpverified">
                                <a><button mat-raised-button type="submit"
                                        class="form-control btn btn-primary rounded submit px-3"
                                        (click)="changePassword()">Submit</button>
                                </a>
                            </div>
                            <h5 style="color:green" *ngIf="passwordChanged">{{ passwordChanged }}</h5>
                            <h5 style="color:red" *ngIf="passwordNotChanged">{{ passwordNotChanged }}</h5>

                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>